.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-page form label,
.login-page form input {
  width: 100%;
}

.login-page form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.login-page form input:focus {
  outline: none;
  border-color: var(--color-primary);
}